In [3]:
import pandas as pd

df = pd.read_csv("kidney_disease.csv")
df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [5]:
# 1. Group patients by classification and calculate the average age.
new_df = df.groupby('classification')['age'].mean()
print(new_df)

classification
ckd       54.541322
notckd    46.516779
Name: age, dtype: float64

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB
None

In [7]:
# 2. Group by classification and count how many patients are in each class.
c = df.groupby('classification')['id'].count()
c

classification
ckd       250
notckd    150
Name: id, dtype: int64

In [8]:
# 3. Group by htn (hypertension) and calculate the mean bp.
c = df.groupby('htn')['bp'].mean()
c

htn
no     73.651452
yes    81.310345
Name: bp, dtype: float64

In [8]:
# 4. Group by dm (diabetes) and count how many patients fall into each category.
d = df.groupby('dm')['id'].count()
d

dm
no     261
yes    137
Name: id, dtype: int64

In [9]:
# 5. Group by appet (appetite) and find the average hemo.
d = df.groupby('appet')['hemo'].mean()
d

appet
good    13.129893
poor     9.930303
Name: hemo, dtype: float64

In [12]:
#  6. Group by rbc and calculate the mean of pcv.
df['pcv'] = pd.to_numeric(df['pcv'], errors = 'coerce')
df['pcv']
d = df.groupby('rbc')['pcv'].mean()
d

rbc
abnormal    31.131579
normal      42.176471
Name: pcv, dtype: float64

In [13]:
# 7. Group by pc (pus cell) and count how many patients are in each group.
d = df.groupby('pc')['id'].count()
d

pc
abnormal     76
normal      259
Name: id, dtype: int64

In [14]:
# 8. Group by classification and calculate the average sc (serum creatinine).
d = df.groupby('classification')['sc'].mean()
d

classification
ckd       4.414916
notckd    0.868966
Name: sc, dtype: float64

In [15]:
# 9. Group by classification and find the maximum age in each group.
d = df.groupby('classification')['age'].max()
d

classification
ckd       90.0
notckd    80.0
Name: age, dtype: float64

In [16]:
# 10. Group by both htn and dm and count patients in each subgroup.
d = df.groupby(['htn', 'dm'])['id'].count()
d

htn  dm
no   no     220
     yes     31
yes  no      41
     yes    106
Name: id, dtype: int64

In [38]:
# 1. Drop rows where age is missing.
df.dropna(subset=['age'],inplace=True)
df
# df.dropna(inplace=True)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32.0,6700,3.9,yes,no,no,poor,yes,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29.0,12100,3.7,yes,yes,no,poor,no,yes,ckd
11,11,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,...,32.0,4500,3.8,yes,yes,no,poor,yes,no,ckd
14,14,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,present,...,16.0,11000,2.6,yes,yes,yes,poor,yes,no,ckd
20,20,61.0,80.0,1.015,2.0,0.0,abnormal,abnormal,notpresent,notpresent,...,24.0,9200,3.2,yes,yes,yes,poor,yes,yes,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47.0,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54.0,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49.0,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51.0,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53.0,6800,6.1,no,no,no,good,no,no,notckd

In [39]:
# 2. Drop rows where either bp or sg is missing.
df['bp'] = pd.to_numeric(df['bp'], errors='coerce')
df['sg'] = pd.to_numeric(df['sg'], errors='coerce')

df.dropna(subset=['bp', 'sg'], inplace=True)
df
print("Total rows:", df.shape[0])
print("Missing bp:", df['bp'].isna().sum())
print("Missing sg:", df['sg'].isna().sum())
print("Missing either bp or sg:", df[['bp','sg']].isna().any(axis=1).sum())

Total rows: 158
Missing bp: 0
Missing sg: 0
Missing either bp or sg: 0

In [40]:
# 3. Drop rows where all values are missing.
df.dropna(how = 'all', inplace = True)
df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32.0,6700,3.9,yes,no,no,poor,yes,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29.0,12100,3.7,yes,yes,no,poor,no,yes,ckd
11,11,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,...,32.0,4500,3.8,yes,yes,no,poor,yes,no,ckd
14,14,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,present,...,16.0,11000,2.6,yes,yes,yes,poor,yes,no,ckd
20,20,61.0,80.0,1.015,2.0,0.0,abnormal,abnormal,notpresent,notpresent,...,24.0,9200,3.2,yes,yes,yes,poor,yes,yes,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47.0,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54.0,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49.0,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51.0,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53.0,6800,6.1,no,no,no,good,no,no,notckd

In [41]:
# 4. Drop rows where rc (red blood cell count) is missing
df['rc'] = pd.to_numeric(df['rc'], errors='coerce')
df.dropna(subset=['rc'], inplace=True)
df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32.0,6700,3.9,yes,no,no,poor,yes,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29.0,12100,3.7,yes,yes,no,poor,no,yes,ckd
11,11,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,...,32.0,4500,3.8,yes,yes,no,poor,yes,no,ckd
14,14,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,present,...,16.0,11000,2.6,yes,yes,yes,poor,yes,no,ckd
20,20,61.0,80.0,1.015,2.0,0.0,abnormal,abnormal,notpresent,notpresent,...,24.0,9200,3.2,yes,yes,yes,poor,yes,yes,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47.0,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54.0,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49.0,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51.0,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53.0,6800,6.1,no,no,no,good,no,no,notckd

In [42]:
# 5. Create a new DataFrame without missing values in hemo
df['hemo'] = pd.to_numeric(df['hemo'], errors='coerce')
df_no_missing_hemo = df.dropna(subset=['hemo']).copy()

print("Final shape after steps 1-4:", df.shape)
print("New DataFrame without missing hemo:", df_no_missing_hemo.shape)

Final shape after steps 1-4: (158, 26)
New DataFrame without missing hemo: (158, 26)

In [46]:
df = pd.read_csv("kidney_disease.csv")
df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [48]:
# 1. Find the sum of bp for all patients.
bp_sum = df['bp'].sum()
bp_sum

np.float64(29670.0)

In [49]:
# 2. Calculate the sum of age grouped by classification.
age_sum = df.groupby('classification')['age'].sum().reset_index()
age_sum

  classification      age
0            ckd  13199.0
1         notckd   6931.0

In [ ]:
# 3. Find the total number of missing values in the dataset (df.isna().sum().sum()).
total_missing = df.isna().sum().sum()
print("Total missing values:", total_missing)

# 4. Sum up pcv values grouped by htn.
s = df.groupby('htn')['pcv'].sum()
print(s)

# 5. Find the sum of wc (white blood cell count) for diabetic patients.
df['wc'] = pd.to_numeric(df['wc'], errors='coerce')
wbc = df[df['dm'] == 'yes']['wc'].sum()
print(wbc)

838000.0

In [27]:
# 1. Drop rows where hemo is missing, then group by classification and find the average hemo.
df['hemo'] = pd.to_numeric(df['hemo'], errors='coerce')

n = df.dropna(subset=['hemo'])
print(n)

new_df = n.groupby('classification')['hemo'].mean()
print(new_df)

# 2. Group by appet after dropping missing values in age and bp, and find the mean bp.
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['bp'] = pd.to_numeric(df['bp'], errors='coerce')

df_clean = df.dropna(subset=['age', 'bp'])

mean_bp_by_appet = df_clean.groupby('appet')['bp'].mean()
print(mean_bp_by_appet)

# 3. Group by pc and calculate the sum of age after removing NaN in age.
df_age = df.dropna(subset=['age'])
df_age.groupby('pc')['age'].sum()

# 4. Group by ane (anemia) and calculate the average sc, ignoring NaN values.
df['sc'] = pd.to_numeric(df['sc'], errors='coerce')

d = df.groupby('ane')['sc'].mean()
print(d)

# 5. Drop rows with missing rbc, then group by rbc and calculate the mean bp.
df_rbc = df.dropna(subset=['rbc'])

df_rbc['bp'] = pd.to_numeric(df_rbc['bp'], errors='coerce')

mean_bp = df_rbc.groupby('rbc')['bp'].mean()
print(mean_bp)

      id   age    bp     sg   al   su     rbc        pc         pcc  \
0      0  48.0  80.0  1.020  1.0  0.0     NaN    normal  notpresent
1      1   7.0  50.0  1.020  4.0  0.0     NaN    normal  notpresent
2      2  62.0  80.0  1.010  2.0  3.0  normal    normal  notpresent
3      3  48.0  70.0  1.005  4.0  0.0  normal  abnormal     present
4      4  51.0  80.0  1.010  2.0  0.0  normal    normal  notpresent
..   ...   ...   ...    ...  ...  ...     ...       ...         ...
395  395  55.0  80.0  1.020  0.0  0.0  normal    normal  notpresent
396  396  42.0  70.0  1.025  0.0  0.0  normal    normal  notpresent
397  397  12.0  80.0  1.020  0.0  0.0  normal    normal  notpresent
398  398  17.0  60.0  1.025  0.0  0.0  normal    normal  notpresent
399  399  58.0  80.0  1.025  0.0  0.0  normal    normal  notpresent

             ba  ...  pcv      wc   rc  htn   dm  cad appet   pe  ane  \
0    notpresent  ...   44  7800.0  5.2  yes  yes   no  good   no   no
1    notpresent  ...   38  6000.0  NaN   no   no   no  good   no   no
2    notpresent  ...   31  7500.0  NaN   no  yes   no  poor   no  yes
3    notpresent  ...   32  6700.0  3.9  yes   no   no  poor  yes  yes
4    notpresent  ...   35  7300.0  4.6   no   no   no  good   no   no
..          ...  ...  ...     ...  ...  ...  ...  ...   ...  ...  ...
395  notpresent  ...   47  6700.0  4.9   no   no   no  good   no   no
396  notpresent  ...   54  7800.0  6.2   no   no   no  good   no   no
397  notpresent  ...   49  6600.0  5.4   no   no   no  good   no   no
398  notpresent  ...   51  7200.0  5.9   no   no   no  good   no   no
399  notpresent  ...   53  6800.0  6.1   no   no   no  good   no   no

    classification
0              ckd
1              ckd
2              ckd
3              ckd
4              ckd
..             ...
395         notckd
396         notckd
397         notckd
398         notckd
399         notckd

[348 rows x 26 columns]
classification
ckd       10.647549
notckd    15.188194
Name: hemo, dtype: float64
appet
good    75.234899
poor    81.375000
Name: bp, dtype: float64
ane
no     2.496605
yes    6.330172
Name: sc, dtype: float64
rbc
abnormal    82.173913
normal      73.333333
Name: bp, dtype: float64

C:\Users\lenovo\AppData\Local\Temp\ipykernel_24112\3925118766.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rbc['bp'] = pd.to_numeric(df_rbc['bp'], errors='coerce')

In [32]:
# 1. Find how many rows contain at least one NaN value.
r = df.isna().any(axis=1).sum()
r

# 2. Drop rows with NaN in classification and count the number of patients in each class.
r = df.dropna(subset=['classification'])
c = r['classification'].value_counts()
print(c)

# 3. Group by htn and classification to get the average bu (blood urea).
df['bu'] = pd.to_numeric(df['bu'], errors='coerce')
g = df.groupby(['htn', 'classification'])['bu'].mean()
g

# 4. Drop rows with missing values in dm and group by dm to find the average age.
df['age'] = pd.to_numeric(df['age'], errors='coerce')  

r = df.dropna(subset=['dm'])
a = r.groupby('dm')['age'].mean()
print(a)

# 5. Calculate the total sum of bp for patients grouped by classification.
df['bp'] = pd.to_numeric(df['bp'], errors='coerce')  

c = df.groupby('classification')['bp'].sum()
print(c)

classification
ckd       250
notckd    150
Name: count, dtype: int64
dm
no     46.890625
yes    60.278195
Name: age, dtype: float64
classification
ckd       19110.0
notckd    10560.0
Name: bp, dtype: float64