In [1]:
import numpy as np

import pandas as pd

In [ ]:

# GroupBy & Aggregation
# 1. Find the average rating for each location.
# 2. Find the count of restaurants in each location.
# 3. Find the average cost for two grouped by restaurant type.
# 4. Find locations having more than 50 restaurants.
# 5. Find the maximum votes received by a restaurant in each location.

# String & Feature Engineering
# 1. Extract numeric values from the rate column and convert it to float.
# 2. Create a new column that categorizes restaurants as Cheap / Moderate /
# Expensive based on cost.
# 3. Find restaurants whose name contains the word "Cafe".

In [ ]:
# Dataset Understanding
# 1. Load the Zomato dataset into a Pandas DataFrame.
# 2. Display the first 10 rows of the dataset.
# 3. Display the shape of the dataset.
# 4. Display all column names.
# 5. Check the data types of each column.
# 6. Generate summary statistics for numerical columns.

ds = pd.read_csv('zomato.csv.zip')
ds
ds.head(10)
ds.shape
ds.columns
ds.dtypes
ds.describe()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,080 40301477,Whitefield,Bar,NaN,Continental,"1,500","[('Rated 5.0', ""RATED\n Food and service are ...",[],Pubs and bars,Whitefield
51713,https://www.zomato.com/bangalore/vinod-bar-and...,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,+91 8197675843,Whitefield,Bar,NaN,Finger Food,600,[],[],Pubs and bars,Whitefield
51714,https://www.zomato.com/bangalore/plunge-sherat...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,NaN,Whitefield,Bar,NaN,Finger Food,"2,000",[],[],Pubs and bars,Whitefield
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500","[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,Whitefield
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500","[('Rated 5.0', 'RATED\n Great ambience , look...",[],Pubs and bars,Whitefield

In [ ]:
# Missing Values & Cleaning
# 1. Check the number of missing values in each column.
ds.isnull().sum()
# 2. Find which column has the maximum missing values.
ds.isnull().sum().idxmax()
# 3. Drop rows where the rating column has missing values.
ds.dropna(subset = ['rate'])
# 4. Replace missing values in the rate column with its mean (after cleaning).
# ds['rate'] = ds['rate'].fillna(ds['rate'].mean())
ds['rate'] = ds['rate'].replace(['NEW', '-'], None)
ds['rate'] = ds['rate'].str.split('/').str[0]
ds['rate'] = ds['rate'].astype(float) 
# 5. Remove duplicate rows from the dataset.
ds = ds.drop_duplicates

In [50]:
# Data Filtering & Selection
# 1. Select all restaurants located in Bangalore.
ds[ds['location'] == 'Bangalore']
# 2. Filter restaurants that offer online ordering.
ds[ds['online_order'] == 'Yes']
# 3. Filter restaurants that provide table booking.
ds[ds['book_table'] == 'Yes']
# 4. Find restaurants with a rating greater than 4.0.
ds[ds['rate'] > 4.0]
# 5. Filter restaurants having more than 500 votes.
ds[ds['votes'] > 500]

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
7,https://www.zomato.com/bangalore/onesta-banash...,"2469, 3rd Floor, 24th Cross, Opposite BDA Comp...",Onesta,Yes,Yes,4.6,2556,080 48653961\r\n080 48655715,Banashankari,"Casual Dining, Cafe","Farmhouse Pizza, Chocolate Banana, Virgin Moji...","Pizza, Cafe, Italian",600,"[('Rated 5.0', 'RATED\n I personally really l...",[],Cafes,Banashankari
9,https://www.zomato.com/bangalore/smacznego-ban...,"2470, 21 Main Road, 25th Cross, Banashankari, ...",Smacznego,Yes,No,4.2,504,+91 9945230807\r\n+91 9743804471,Banashankari,Cafe,"Waffles, Pasta, Coleslaw Sandwich, Choco Waffl...","Cafe, Mexican, Italian, Momos, Beverages",550,"[('Rated 4.0', ""RATED\n Easy to locate\nVFM 3...",[],Cafes,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51699,https://www.zomato.com/bangalore/harrys-bar-ca...,"S-10, Level 2, Phoenix Market City, Whitefield...",Harry's Bar + Cafe,Yes,Yes,4.1,1218,+91 7676924054\n+91 9137153744,Whitefield,Pub,"Cocktails, Beer, Long Island Iced Tea, Pasta, ...","Asian, American, Mexican","1,200","[('Rated 4.0', 'RATED\n The first thing that ...",[],Pubs and bars,Whitefield
51700,https://www.zomato.com/bangalore/bar-bar-white...,"Level 2, Phoenix Marketcity, Whitefield, Banga...",BAR BAR,No,Yes,4.1,1003,+91 7338630404\n+91 8067266651,Whitefield,"Bar, Casual Dining","Mocktails, Cocktails, Pizza, Chicken Tikka, Na...","Continental, North Indian, Italian","1,500","[('Rated 4.0', ""RATED\n In an increasingly ov...",[],Pubs and bars,Whitefield
51701,https://www.zomato.com/bangalore/the-beer-cafe...,"Unit 4A - 4B, Upper Ground Floor, VR Bengaluru...",The Beer Cafe,Yes,Yes,4.1,673,+91 8929188573,Whitefield,Pub,"Cocktails, Wheat Beer, Bruschettas, Pasta, Bur...","Finger Food, North Indian, Chinese, Italian","1,400","[('Rated 2.0', ""RATED\n We went out to this p...",[],Pubs and bars,Whitefield
51702,https://www.zomato.com/bangalore/pablos-gastro...,"2, Graphite India Road, Doddanekundi Industria...",Pablo's Gastrobar,No,No,4.0,1094,00 9108214702,Whitefield,Bar,"Cocktails, Beer, Pizza, Long Island Iced Tea, ...","Finger Food, American, Asian, Italian","1,450","[('Rated 4.0', 'RATED\n A good place to dine....",[],Pubs and bars,Whitefield
51703,https://www.zomato.com/bangalore/olivers-pub-d...,"ITPL Ascendas Park Square Mall, ITPL, First Fl...",Oliver's Pub & Diner,Yes,Yes,3.9,548,+91 8043691111\n+91 8028026519,Whitefield,"Pub, Casual Dining","Pizza, Beer, Cocktails, Nachos, Pasta, Moo Bur...","Finger Food, American, Continental, Burger, Pizza","1,500","[('Rated 4.0', ""RATED\n I had :-\n\n1. Italia...",[],Pubs and bars,Whitefield

In [ ]:
# Sorting & Ranking
# 1. Sort restaurants by rating in descending order.
# ds['rate'] = ds['rate'].replace(['NEW', '-'], None)
# ds['rate'] = ds['rate'].str.split('/').str[0]
# ds['rate'] = ds['rate'].astype(float) 
ds.sort_values(by = 'rate', ascending=False)

# 2. Sort restaurants by votes and rating together.
ds.sort_values(
    by=['votes', 'rate'],
    ascending=[False, False])

# 3. Find the top 10 restaurants based on rating.
ds.sort_values(by='rate', ascending=False).head(10)

# ds['rate'].rank(ascending=False, method='dense')

0         9.0
1         9.0
2        12.0
3        13.0
4        12.0
         ...
51712    14.0
51713     NaN
51714     NaN
51715     7.0
51716    16.0
Name: rate, Length: 51717, dtype: float64

In [ ]:


# GroupBy & Aggregation
# 1. Find the average rating for each location.
ds.groupby('location')['rate'].mean()

# 2. Find the count of restaurants in each location.
ds.groupby('location').size()

# 3. Find the average cost for two grouped by restaurant type.
ds['approx_cost(for two people'] = (
    ds['approx_cost(for two people)']
    .astype(str)
    .str.replace('₹', '', regex=False)
    .str.replace(',', '', regex=False)
)

ds['approx_cost(for two people)'] = pd.to_numeric(ds['approx_cost(for two people)'], errors='coerce')

ds.groupby('rest_type')['approx_cost(for two people)'].mean().reset_index()

# 4. Find locations having more than 50 restaurants.
ds['location'].value_counts()[ds['location'].value_counts() > 50].reset_index()

# 5. Find the maximum votes received by a restaurant in each location.
ds.groupby('location')['votes'].max().reset_index()

             location  votes
0                 BTM   6490
1        Banashankari   2604
2           Banaswadi    671
3   Bannerghatta Road   3178
4        Basavanagudi   4460
..                ...    ...
88     West Bangalore    537
89         Whitefield   7064
90      Wilson Garden    217
91          Yelahanka     78
92        Yeshwantpur    254

[93 rows x 2 columns]

In [24]:
# String & Feature Engineering
# 1. Extract numeric values from the rate column and convert it to float.
ds['rate_numeric'] = (
    ds['rate']
    .astype(str)
    .str.extract(r'(\d+\.?\d*)')  # extract numeric part
    .astype(float)
)

# 2. Create a new column that categorizes restaurants as Cheap / Moderate / Expensive based on cost.
ds['approx_cost(for two people)'] = (
    ds['approx_cost(for two people)']
    .astype(str)
    .str.replace('₹', '', regex=False)
    .str.replace(',', '', regex=False)
)

ds['approx_cost(for two people)'] = pd.to_numeric(
    ds['approx_cost(for two people)'], errors='coerce'
)

def cost_category(cost):
    if cost <= 300:
        return 'Cheap'
    elif cost <= 700:
        return 'Moderate'
    else:
        return 'Expensive'

ds['cost_category'] = ds['approx_cost(for two people)'].apply(cost_category)

# 3. Find restaurants whose name contains the word "Cafe".
ds[ds['name'].str.contains('Cafe', case=False, na=False)]


ds.loc[ ds['name'].str.contains(r'\bcafe\b', case=False, na=False)]

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city),approx_cost(for two people,rate_numeric,cost_category
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari,800.0,3.8,Expensive
8,https://www.zomato.com/bangalore/penthouse-caf...,"1, 30th Main Road, 3rd Stage, Banashankari, Ba...",Penthouse Cafe,Yes,No,4.0/5,324,+91 8884135549\r\n+91 9449449316,Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700.0,"[('Rated 3.0', ""RATED\n I had been to this pl...",[],Cafes,Banashankari,700.0,4.0,Moderate
11,https://www.zomato.com/bangalore/cafe-shuffle-...,"941, 3rd FLOOR, 21st Main, 22nd Cross, Banasha...",Cafe Shuffle,Yes,Yes,4.2/5,150,+91 9742166777,Banashankari,Cafe,"Mocktails, Peri Fries, Lasagne, Pizza, Chicken...","Cafe, Italian, Continental",600.0,"[('Rated 1.0', ""RATED\n \n\nHorrible. Not even...",[],Cafes,Banashankari,600.0,4.2,Moderate
14,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Cafes,Banashankari,800.0,3.8,Expensive
15,https://www.zomato.com/bangalore/cafe-vivacity...,"2303, 21st Cross, K R Road, 2nd Stage, Banasha...",Cafe Vivacity,Yes,No,3.8/5,90,080 26768182\r\n+91 9845704455,Banashankari,Cafe,"Garlic Bread, Burgers, Sandwiches, Pizza, Hot ...",Cafe,650.0,"[('Rated 2.0', 'RATED\n Not so good place as ...",[],Cafes,Banashankari,650.0,3.8,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51660,https://www.zomato.com/bangalore/harrys-bar-ca...,"S-10, Level 2, Phoenix Market City, Whitefield...",Harry's Bar + Cafe,Yes,Yes,4.1 /5,1218,+91 7676924054\n+91 9137153744,Whitefield,Pub,"Cocktails, Beer, Long Island Iced Tea, Pasta, ...","Asian, American, Mexican",NaN,"[('Rated 4.0', 'RATED\n The first thing that ...","['Veg Thai Green Curry', 'BBQ Sloppy Chicken B...",Drinks & nightlife,Whitefield,nan,4.1,Expensive
51662,https://www.zomato.com/bangalore/the-beer-cafe...,"Unit 4A - 4B, Upper Ground Floor, VR Bengaluru...",The Beer Cafe,Yes,Yes,4.1 /5,673,+91 8929188573,Whitefield,Pub,"Cocktails, Wheat Beer, Bruschettas, Pasta, Bur...","Finger Food, North Indian, Chinese, Italian",NaN,"[('Rated 2.0', ""RATED\n We went out to this p...","['Wok Tossed Cottage Cheese', 'Koliwada Fried ...",Drinks & nightlife,Whitefield,nan,4.1,Expensive
51699,https://www.zomato.com/bangalore/harrys-bar-ca...,"S-10, Level 2, Phoenix Market City, Whitefield...",Harry's Bar + Cafe,Yes,Yes,4.1 /5,1218,+91 7676924054\n+91 9137153744,Whitefield,Pub,"Cocktails, Beer, Long Island Iced Tea, Pasta, ...","Asian, American, Mexican",NaN,"[('Rated 4.0', 'RATED\n The first thing that ...",[],Pubs and bars,Whitefield,nan,4.1,Expensive
51701,https://www.zomato.com/bangalore/the-beer-cafe...,"Unit 4A - 4B, Upper Ground Floor, VR Bengaluru...",The Beer Cafe,Yes,Yes,4.1 /5,673,+91 8929188573,Whitefield,Pub,"Cocktails, Wheat Beer, Bruschettas, Pasta, Bur...","Finger Food, North Indian, Chinese, Italian",NaN,"[('Rated 2.0', ""RATED\n We went out to this p...",[],Pubs and bars,Whitefield,nan,4.1,Expensive
51708,https://www.zomato.com/bangalore/keys-cafe-key...,"Keys Hotel, 6, 1st Phase Industrial Area, Near...",Keys Cafe - Keys Hotel,No,No,2.8 /5,161,080 39451000\n+91 8884038484,Whitefield,"Casual Dining, Bar","Salads, Coffee, Breakfast Buffet, Halwa, Chick...","Chinese, Continental, North Indian",NaN,"[('Rated 3.0', 'RATED\n Place is good not tha...",[],Pubs and bars,Whitefield,nan,2.8,Expensive